html {
    height: 100%;
    /* 移除任何預設邊距 */
    margin: 0;
    padding: 0;
}

body{
	background-color: #1a1a1a;
	color: #ffffff;
	font-family: Arial;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	height: 100%;
}

/*改成span以確保長方形出現在字尾*/
span{
	font-size: 1.5em;
	border-right: 0.1em solid white;
	font-weight: bold;
	margin: 0 auto;
	animation: point-text 0.75s step-end infinite;
	/*將空格視為換行*/
	white-space: pre-wrap;

}

@keyframes point-text{
	from,to{border-color: transparent;}
	50%{border-color: white;}
}


#enemy{
	width: 80%;
	height: 40%;
	display: flex;
}

	#smile {
		width: 20%;
		height: 100%;
		background: url('照片/笑臉.png');
		background-repeat: no-repeat; 
		background-size: contain; 
		background-position: center; 
	}   

	#talk_box {
		width: 40%;
		height: 100%;
		background: url('照片/對話框.png');
		background-repeat: no-repeat; 
		background-size: contain; 
		background-position: center;
		padding-top: 100px;
		padding-left: 40px; 
	}

#battle_space_top{
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;
	height: 10%;

}

#battle_space_up{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 30%;
}


	#battle_space{
		position: relative;
		width: 60%;
		height: 100%;
		background-color: #1a1a1a;
		border: 4px solid #ffffff;

	}

	#user { 
		width: 50px;
	 	height: 50px;
	  	position: absolute;
	   	background: url('照片/愛心.png');
	   	background-size: cover; 
	   }

	.bolltom_1{
		position: absolute;
		background: url('照片/攻擊_1.png');
		width: 60px;
		height: 60px;
		background-repeat: no-repeat; 
		background-size: contain; 
		background-position: center;
		animation: moveForward_1 2.5s linear forwards;
		animation-delay: 1s;
	}

	.bolltom_2{
		position: absolute;
		background: url('照片/攻擊_2.png');
		width: 60px;
		height: 60px;
		background-repeat: no-repeat; 
		background-size: contain; 
		background-position: center;
		animation: moveForward_2 1s linear forwards;
		animation-delay: 1s;
	}

	@keyframes moveForward_1 {
	from { transform: translateX(0); }
	to { transform: translateX(1300px); }
	}

	@keyframes moveForward_2 {
	from { transform: translateY(0); }
	to { transform: translateY(350px); }
	}